{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}]}.
{deps, [
  {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs", {tag, "master"}}}, 
  {lager, ".*", {git, "git://github.com/basho/lager", {tag, "11efb7f48f6568e9748a54ff07f6d0b77b72fc40"}}}
]}.
